@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #1d428a;
  --red-color: #c8102e;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
  min-height: 100vh;
  padding: var(--spacing);
  border: var(--border);
  grid-template-areas:
    "header antetokounmpo allen"
    "header main curry"
    "morant footer footer";
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows:
      1fr
      1fr
      1fr
      1fr
      1fr
      1fr
      1fr;
    grid-template-areas:
      "header"
      "antetokounmpo"
      "allen"
      "main"
      "curry"
      "morant"
      "footer";
  }
}

.antetokounmpo,
.allen,
.curry,
.morant {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.403);
}

header {
  display: grid;
  grid-area: header;
  background-color: var(--blue-color);
  padding: var(--spacing);
  grid-gap: 1rem;
}

h1 {
  text-align: start;
  text-transform: uppercase;
  color: var(--primary-color);
}

p {
  text-align: start;
  color: var(--primary-color);
}

.antetokounmpo {
  background-image: url(./assets/antetokounmpo.avif);
  grid-area: antetokounmpo;
}

.allen {
  background-image: url(./assets/allen.jpg);
  grid-area: allen;
}

main {
  grid-area: main;
  padding: var(--spacing);
  border: var(--border);
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color: var(--blue-color);
  padding: 50px;
}

.curry {
  background-image: url(./assets/curry.jpg);
  grid-area: curry;
}

.morant {
  background-image: url(./assets/morant.jpg);
  grid-area: morant;
}

footer {
  display: grid;
  grid-area: footer;
  background-color: var(--red-color);
  padding: var(--spacing);
  grid-gap: 1rem;
}

h3 {
  text-align: start;
  color: var(--primary-color);
}

button {
  background-color: var(--blue-color);
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bolder;
  height: 50px;
  width: 200px;
}
